<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Audio Sample</title>
    <link rel="stylesheet" href="/static/audio.css" />
  </head>

  <body>
    <h1>Album : Hamari Adhuri Kahani</h1>
    <h3>By JOY</h3>
    <div class="container">
    <div class="song song1">
      <h2>Humnava</h2>
      <audio src="songs/Humnava.mp3" controls></audio>
      <a href="songs/Humnava.mp3" download="songs/Humnava.mp3">
        <img src="images/dnld1.ico"></img>
      </a>
    </div>
    <div class="song song2">
      <h2>Hamari Adhuri Kahani</h2>
      <audio src="songs/HamariAdhuriKahani.mp3" controls></audio>
      <a href="songs/HamariAdhuriKahani.mp3" download="songs/HamariAdhuriKahani.mp3">
        <img src="images/dnld1.ico"></img>
      </a>
    </div>

    <div class="song song3">
      <h2>Yeh Kaisi Jagah</h2>
      <audio src="songs/YehKaisiJagah.mp3" controls></audio>
      <a href="songs/YehKaisiJagah.mp3" download="songs/YehKaisiJagah.mp3">
        <img src="images/dnld1.ico"></img>
      </a>
    </div>
    </div>
  </body>
</html>
